NODE_ENV=development

BACKEND_HOST=0.0.0.0
BACKEND_PORT=4000
BACKEND_API_BASE_PATH=/api/v1
BACKEND_CORS_ORIGIN=http://localhost:3000,http://localhost:5173
BACKEND_UPLOADS_DIR=./storage/uploads
BACKEND_PUBLIC_DIR=./public

WEB_CLIENT_HOST=0.0.0.0
WEB_CLIENT_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1

WEB_ADMIN_HOST=0.0.0.0
WEB_ADMIN_PORT=5173
VITE_API_BASE_URL=http://localhost:4000/api/v1


POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_PORT=port_number
DATABASE_URL=postgresql://user_name:password@localhost:5432/db_name
